h1{
    text-align: center;
    font-weight: bolder;
    color: black;
}
.lead{
    text-align: center;
    color: white;
}
.jumbotron{
    color: rgb(167, 10, 10); 
    background-color: rgba(0, 0, 255, 0.746);   
}
body{
    background-color: lightgray;
}